/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/_components/ChatHandler/style.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/_components/Chat/style.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.chat {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: black solid 1px;
}

.message-list {
  flex-grow: 2;
  overflow-y: scroll;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/_components/Message/style.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.message-wrapper {
  padding: 10px;
}

.message-sender {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  color: grey;
}

.message {
  display: inline-block;
  max-width: 60%;
  padding: 16px 20px;
  border-radius: 16px;
  color: #262b3d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}

.chatgpt {
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

.user {
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  text-align: left;
}

.message p {
  margin: 0;
  display: inline;
  text-align: left;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/_components/TypingIndicator/style.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.chat-typing-indicator {
  color: grey;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/_components/ChatInput/style.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.input-container {
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: flex-end;
}

[contenteditable="true"]:empty:before {
  content: 'Type response here...';
  color: grey;
  pointer-events: none;
}

.input-field {
  min-height: 100%;
  border-radius: 8px;
  padding: 12px;
  text-align: left;
  font-size: 18px;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),  0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  flex-grow: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.input-field:focus {
  outline: 1px black solid;
}

.button-container {
  height: 45px;
  margin-left: 8px;
}

.send-button {
  height: 100%;
  border-radius: 8px;
  border: none;
  background-color: white;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  border: 1px solid black;
  color: black;
  font-size: large;
  font-weight: bold;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 0px;
  cursor: pointer;
}

/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/style.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  /* background-color: hsl(232, 11%, 15%); */
}

